/**, html   {
     Box-sizing: Border-box ;
}
*/
.header-container {
    width: 100%;
    height: 650px;
    border-left: none;
    border-right:none;
    position: relative;
    padding:20px;
}

.video-container {
    position:absolute;
    top:0%;
    left:0%;
    height: 100%;
    width:100%;
    overflow:hidden;
    margin-bottom:0;

}

video {
    position:absolute;
    z-index: -1;
    opacity: .78;
    width: 100%;

}
.navbar {
    margin:0;
}

.Aligner {
 position: absolute;
 top:40%;
 left:25%;
 width:60%;

}



.header-container {
    position:relative;
}

